@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Base  */
:root {
    --primary-color: #333;
    --light-color: #f8f8ff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	background-color: #eaeef7;
    color: #333;
    font-family: 'Lato', sans-serif;
	line-height: 1.6;
	padding: 32px;
	height: 100vh;
}

ul {
    list-style-type: none;
}

/* Utilities */
.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(0.98);
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.project-wrapper {
	display: grid;
	grid-template-columns: 225px 1fr;
	border-radius: 16px;
	overflow: hidden;
	height: 100%;
}

/* Header */
.header {
	color: black;
    padding: 16px;
	position: sticky;
	top: 0;
}

.header-title {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
    margin: 10px 0;
}

/* Sidebar */
.sidebar-list {
    padding: 16px;
}

.sidebar-item {
	display: inline-flex;
	align-items: center;
	width: 100%;
	margin: 16px 0;
	cursor: pointer;
}

.sidebar-item:first-child {
	margin-top: 0;
}

.sidebar-color {
	border: none;
	width: 25px;
	margin-left: auto;
	cursor: pointer;
}

/* Sidebar Form */
.sidebar-form .form-control {
	margin: 5px 0;
}

.sidebar-form input {
	border: 0;
    width: 100%;
    padding: 3px 0;
	font-size: 16px;	
	background-color: transparent;
}

.sidebar-form input:focus {
	outline: none;
}

.sidebar-form button {
	width: 100%;
}

/* Create and Edit Todo Form */
.create-todo-form input, .edit-todo-form input, 
.create-todo-form select, .edit-todo-form select {
	border: 0;
    width: 100%;
    padding: 3px 0;
	font-size: 16px;	
	background-color: transparent;
}

.create-todo-form input:focus, .edit-todo-form input:focus,
.create-todo-form select:focus, .edit-todo-form select:focus {
	outline: none;
}

.create-todo-form, .edit-todo-form  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: .8;
}

.create-todo-form input, .edit-todo-form input {
	border-bottom: 1px solid #b4becb;
	width: 350px;
}

.edit-todo-form {
	display: none;
}

/* Card */
.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-top: 6px solid;
}

.card-tag {
	padding: 5px 25px;
	border-radius: 5px;
	margin-bottom: 8px;
}

.card-description {
	margin: 10px 0 20px 0;
	word-break: break-all;
}

.card-actions {
	display: flex;
	margin-top: auto;
}

.card-actions i {
	margin-right: 16px;
	opacity: 0.25;
	cursor: pointer;
}

/* Main */
.main {
	background-color: var(--light-color);
	overflow-y: scroll;
}

.main::-webkit-scrollbar {
	display: none;
}

.main .header {
	background-color: var(--light-color);
	display: flex;
	justify-content: space-between;		
	align-items: center;
}

/* Cards Container */
.cards-container {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	grid-auto-rows: max-content;
}


