@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
	line-height: 1.6;
	padding: 2rem;
	background-color: #eaeef7;
	height: 100vh;
}

ul {
    list-style-type: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

.project-wrapper {
	display: grid;
	grid-template-columns: 225px 1fr;
	border-radius: 1rem;
	overflow: hidden;
	height: 100%;
}

/* Header */
.header {
	justify-content: space-between;
	color: black;
	position: sticky;
	top: 0;
	height: max-content;
}

.header-title {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
}

/* Sidebar */
.sidebar {
	background-color: #eaeef7;
	height: 100%;
}

.sidebar-item {
	display: inline-flex;
	align-items: center;
	width: 100%;
	margin: 16px 0;
	cursor: pointer;
}

.sidebar-color {
	border: none;
	width: 25px;
	margin-left: auto;
	cursor: pointer;
}

.sidebar-item:first-child {
	margin-top: 0;
}

/* Sidebar Form */
.sidebar-form .form-control {
	margin: 5px 0;
}

.sidebar-form button {
	width: 100%;
}

/* Create and Edit Todo Form */
.create-todo-form, .edit-todo-form  {
	flex: .5;
	justify-content: space-between;
}

.create-todo-form input, .edit-todo-form input {
	border-bottom: 1px solid #b4becb;
	width: 350px;
}

.edit-todo-form {
	display: none;
}

/** =================== Card Component ===================  */
.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	border-top: 6px solid;
	margin: 0;
}

.card-tag {
	padding: 5px 25px;
	margin-bottom: 8px;
	border-radius: 5px;
}

.card-description {
	margin-bottom: 16px;
}

.card-actions {
	display: flex;
	margin-top: auto;
}

.card-actions i {
	margin-right: 16px;
	cursor: pointer;
	opacity: 0.25;
}

/* Main */
.main {
	background-color: var(--light-color);
	overflow-y: scroll;
}

.main::-webkit-scrollbar {
	display: none;
}

.main .cards-container {
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: max-content;
	height: auto;
}

